@model IEnumerable<AlbumListingServiceModel>

@{
    ViewData["Title"] = "Albums";
}

<h2>Albums</h2>

<div class="col-xs-12" style="padding-top: 30px;">
@foreach (var album in Model)
{
    <div id="album_@album.Id"  class="inline-div col-xs-3 text-center" style="padding-bottom: 20px;">
        <div>@album.Title</div>
        <div>@album.Category</div>
        <div>
            <a asp-area="Admin" asp-controller="Albums" asp-action="Edit" asp-route-id="@album.Id" class="btn btn-warning btn-sm">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-@album.Id">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="modal fade" id="delete-@album.Id" tabindex="-1" role="dialog" aria-labelledby="album-@album.Title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-xs-8" id="album-@album.Title">Delete @album.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete album @album.Title?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a asp-area="Admin" asp-controller="Albums" asp-action="Delete" asp-route-id="@album.Id"
                        data-ajax="true" data-ajax-method="POST"
                        data-ajax-success="ajaxDeleteSuccess_@album.Id"
                        data-ajax-error="ajaxDeleteError_@album.Id"
                        class="btn btn-danger" data-dismiss="modal">Delete</a>
                </div>
            </div>
        </div>
    </div>

<script>
    var ajaxDeleteSuccess_@album.Id = function(message) {
        $('#album_' + '@album.Id').remove();
        var messageDiv = $('<div class="alert alert-success text-center">' + message + '</div>');
        $('.body-content').prepend(messageDiv);
    }
    var ajaxDeleteError_@album.Id = function() {
        var messageDiv = $('<div class="alert alert-error text-center">Error: Deletion failed.</div>');
        $('.body-content').prepend(messageDiv);
    }
</script>
}
</div>
