@model IEnumerable<AdListingServiceModel>

@foreach (var ad in Model)
{
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a asp-controller="Users" asp-action="Ad" asp-route-id="@ad.Id">
                   <img src="@ad.AdProfilePicUrl" alt="@ad.AdProfilePicUrl" width="150" height="100"/>
                </a>
            </div>
            <div class="panel-body">
                @ad.Name - @ad.Website
            </div>
        </div>
    </div>

}