<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Snapbook</title>

    <environment include="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="@Url.Content("~/css/site.css")" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    </environment>
    <environment exclude="Development,Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Snapbook</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Search">Search</a></li>
                    @if (User.IsInRole(WebConstants.AdministratorRole))
                    {
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" style="display: inline-block !important;" data-toggle="dropdown">Admin Panel
                                <span class="caret" style="padding-bottom: 5px;"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="Admin" asp-controller="Users" asp-action="AddToRole">Manage User Roles</a></li>
                                <li><a asp-area="Admin" asp-controller="Categories" asp-action="All">Manage Album Categories</a></li>
                                <li><a asp-area="Admin" asp-controller="Photos" asp-action="All">Manage Photos</a></li>
                                <li><a asp-area="Admin" asp-controller="Ads" asp-action="All">Manage Ads</a></li>
                                <li><a asp-area="Admin" asp-controller="Albums" asp-action="All">Manage Albums</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole(WebConstants.UserRole))
                    {
                        <li><a asp-area="User" asp-controller="Albums" asp-action="CreateAlbum">Create New Album</a></li>
                    }
                    @if (User.IsInRole(WebConstants.AdvertiserRole))
                    {
                        <li><a asp-area="" asp-controller="Users" asp-action="Ad" asp-route-id="0">Ad</a></li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Users" asp-action="Profile" asp-route-username="@User.Identity.Name">Profile</a></li>
                        @Html.Partial("_NotificationsLink", User.Identity.Name)
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @if (TempData.ContainsKey(WebConstants.TempDataSuccessMessage))
        {
            <div class="alert alert-success text-center">
                @TempData[WebConstants.TempDataSuccessMessage]
            </div>
        }
        @if (TempData.ContainsKey(WebConstants.TempDataErrorMessage))
        {
            <div class="alert alert-danger text-center">
                @TempData[WebConstants.TempDataErrorMessage]
            </div>
        }

        @RenderBody()
    </div>
<hr />
<footer class="text-center">
    <p><small>&copy; 2017 - Snapbook</small></p>
</footer>
<environment include="Development,Staging,Production">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
</environment>
    <environment exclude="Development,Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
