@using Snapbook.Services.Implementations
@model PhotoParcialViewModel
@inject PhotoService Photos
@{ 
    var photo = Model.Photo;
}

<div class="home-photo col-xs-12">
    <a asp-area="" asp-controller="Photos" asp-action="Details" asp-route-id="@photo.Id">
        <div class="home-photo-image col-xs-12 col-sm-8">
            <img src="@photo.ImageUrl" class="img-responsive img-listing" alt="@photo.ImageUrl" />
        </div>
    </a>

    <div class="home-photo-content col-xs-12 col-sm-4">
        <div class="home-photo-author col-xs-12">
            <div class="profile-img col-xs-2">
                @if (photo.AdId == null)
                {
                    if (photo.AlbumAuthorUrl != null)
                    {
                        <img src="@photo.AlbumAuthorUrl" alt="@photo.AlbumAuthorUrl"/>
                    }
                    else
                    {
                        <img src="~/images/profile.png" alt="profile image"/>
                    }
                }
                else
                {
                        <img src="@photo.AdUrl" alt="@photo.AdUrl"/>
                }
            </div>
            <div class="profile-name col-xs-10">
                <div>
                    @if (photo.AdId == null)
                    {
                        <a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-username="@Model.Photo.AlbumAuthor">
                            <h4>@Html.DisplayFor(m => m.Photo.AlbumAuthor)</h4>
                        </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Users" asp-action="Ad" asp-route-id="@Model.Photo.AdId">
                            <h4>@Html.DisplayFor(m => m.Photo.AdName)</h4>
                        </a>
                    }
                </div>
                <div>
                    <a href="http://maps.google.com/?q=@Model.Photo.Latitude,@Model.Photo.Longitude" target="_blank" class="text-primary">
                        <small>@Html.DisplayFor(m => m.Photo.Location)</small>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="home-photo-desc">
            <p class="wrap desc-@photo.Id">
                @if (photo.Description.Length > 50)
                {
                    @photo.Description.CutText()<span class="showMore show-@photo.Id"> show more</span>
                }
                else
                {
                    @photo.Description
                }
            </p>
        </div>
        
        <script>
            $(document).on('click', '.show-@photo.Id', function () {
                var span = $('.show-@photo.Id');
                var desc = $('.desc-@photo.Id');
                if (span.hasClass("showMore")) {
                    desc.html('@photo.Description <span class="showLess show-@photo.Id">show less</span>');
                }
                else {
                    desc.html('@photo.Description.CutText() <span class="showMore show-@photo.Id">show more</span>');
                }
            });
        </script>

        <div class="home-photo-tags col-xs-12">
            @if (Model.Photo.Tags.Any())
            {
                foreach (var tag in Model.Photo.Tags)
                {
                    <span class="tag"><small>#@tag.Content</small></span>
                }
            }
        </div>

        <div class="col-xs-12 home-photo-buttons">
            <div id="ajaxLikeLink-@photo.Id" class="likebutton col-xs-2">
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (!(await Photos.CanLike(Model.User.Id, photo.Id)))
                    {
                        <a asp-controller="Photos" asp-action="Like" asp-route-photoId="@photo.Id"
                           data-ajax="true" data-ajax-method="POST"
                           data-ajax-update="#likeResults-@photo.Id" data-ajax-mode="replace"
                           data-ajax-success="ajaxLikeSuccess_@photo.Id" data-ajax-error="ajaxLikeError_@photo.Id"
                        ><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></a>
                    }
                    else
                    {
                        <a asp-controller="Photos" asp-action="Unlike" asp-route-photoid="@photo.Id"
                           data-ajax="true" data-ajax-method="POST"
                           data-ajax-update="#likeResults-@photo.Id" data-ajax-mode="replace"
                           data-ajax-success="ajaxUnlikeSuccess_@photo.Id" data-ajax-error="ajaxUnlikeError_@photo.Id"
                        ><h3><i class="fa fa-heart" aria-hidden="true"></i></h3></a>
                    }
                }
            </div>

            <div id="ajaxSaveLink-@photo.Id" class="savebutton col-xs-2">
                @if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != Model.Photo.AlbumAuthor && this.User.Identity.Name != Model.Photo.AdAuthor)
                {
                    if (!(await Photos.CanSave(Model.User.Id, Model.Photo.Id)))
                    {
                        <a asp-controller="Photos" asp-action="Save" asp-route-photoId="@photo.Id"
                           data-ajax="true" data-ajax-method="POST"
                           data-ajax-success="ajaxSaveSuccess_@photo.Id" data-ajax-error="ajaxSaveError_@photo.Id"
                        ><h3><i class="fa fa-bookmark-o" aria-hidden="true"></i></h3></a>
                    }
                    else
                    {
                        <a asp-controller="Photos" asp-action="Unsave" asp-route-photoid="@photo.Id"
                           data-ajax="true" data-ajax-method="POST"
                           data-ajax-success="ajaxUnsaveSuccess_@photo.Id" data-ajax-error="ajaxUnsaveError_@photo.Id"
                        ><h3><i class="fa fa-bookmark" aria-hidden="true"></i></h3></a>
                    }
                }
            </div>
            <div class="col-xs-8 albumbutton text-right">
                @if (photo.AlbumId != null)
                {
                    <a asp-area="" asp-controller="Albums" asp-action="Details" asp-route-id="@photo.AlbumId"
                       class="btn btn-success btn-sm">
                        @photo.AlbumTitle
                    </a>
                }
            </div>
        </div>
        
        <div class="home-photo-info col-xs-12">
            <div id="likeResults-@photo.Id" class="home-photo-likes col-xs-4">
                @Html.Partial("_Likes", photo.Likes)
            </div>
            <div class="home-photo-comments col-xs-6">
                <h5>@Html.DisplayFor(m => m.Photo.Comments) comments</h5>
            </div>
            <div class="home-photo-date col-xs-12">
                <small><em>@photo.PublishDate.ToString().CalculateDateDifference()</em></small>
            </div>
        </div>
    </div>
</div>

<script>
    var ajaxLikeSuccess_@photo.Id = function () {
        $('#ajaxLikeLink-@photo.Id').empty();

        $('#ajaxLikeLink-@photo.Id')
            .html('<a href="/photos/unlike?photoid=@photo.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-update="#likeResults-@photo.Id" ' +
                'data-ajax-mode="replace" ' +
                'data-ajax-success="ajaxUnlikeSuccess_@photo.Id" ' +
                'data-ajax-error="ajaxUnlikeError_@photo.Id" ' +
                '><h3><i class="fa fa-heart" aria-hidden="true"></i></h3></a>');
    }
    var ajaxLikeError_@photo.Id = function () {
        var messageDiv = '<div class="alert alert-error text-center">Error: Could not like.</div>';
        $('.body-content').prepend(messageDiv);
    }

    var ajaxUnlikeSuccess_@photo.Id = function () {
        $('#ajaxLikeLink-@photo.Id').empty();

        $('#ajaxLikeLink-@photo.Id')
            .html('<a href="/photos/like?photoid=@photo.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-update="#likeResults-@photo.Id" ' +
                'data-ajax-mode="replace" ' +
                'data-ajax-success="ajaxLikeSuccess_@photo.Id" ' +
                'data-ajax-error="ajaxLikeError_@photo.Id" ' +
                '><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></a>');
    }
    var ajaxUnlikeError_@photo.Id = function () {
        var messageDiv = '<div class="alert alert-error text-center">Error: Could not unlike.</div>';
        $('.body-content').prepend(messageDiv);
    }

    var ajaxSaveSuccess_@photo.Id = function (message) {
        $('#ajaxSaveLink-@photo.Id').empty();

        $('#ajaxSaveLink-@photo.Id')
            .html('<a href="/photos/unsave?photoid=@photo.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-success="ajaxUnsaveSuccess_@photo.Id" ' +
                'data-ajax-error="ajaxUnsaveError_@photo.Id" ' +
            '><h3><i class="fa fa-bookmark" aria-hidden="true"></i></h3></a>');

        var messageDiv = '<div class="alert alert-success text-center">' + message + '</div>';
        $('.body-content').prepend(messageDiv);
    }
    var ajaxSaveError_@photo.Id = function (message) {
        var messageDiv = '<div class="alert alert-error text-center">' + message + '</div>';
        $('.body-content').prepend(messageDiv);
    }

    var ajaxUnsaveSuccess_@photo.Id = function (message) {
        $('#ajaxSaveLink-@photo.Id').empty();

        $('#ajaxSaveLink-@photo.Id')
            .html('<a href="/photos/save?photoid=@photo.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-success="ajaxSaveSuccess_@photo.Id" ' +
                'data-ajax-error="ajaxSaveError_@photo.Id" ' +
            '><h3><i class="fa fa-bookmark-o" aria-hidden="true"></i></h3></a>');

        var messageDiv = '<div class="alert alert-success text-center">' + message + '</div>';
        $('.body-content').prepend(messageDiv);
    }
    var ajaxUnsaveError_@photo.Id = function (message) {
        var messageDiv = '<div class="alert alert-error text-center">' + message + '</div>';
        $('.body-content').prepend(messageDiv);
    }
</script>