@model IEnumerable<PhotoListingServiceModel>

@foreach (var photo in Model)
{
    <div class="panel-show col-xs-6 col-sm-4">
        <div class="panel panel-default">
            <a asp-controller="Photos" asp-action="Details" asp-route-id="@photo.Id">
                <div class="panel-heading">
                    <img src="@photo.ImageUrl" class="img-responsive img-listing" alt="@photo.ImageUrl" />
                </div>
                <div class="panel-body text-center">
                    <h5 class="wrap"><em>@photo.Likes Likes</em></h5>
                    <h5 class="wrap"><em>@photo.Comments Comments</em></h5>
                </div>
            </a>
        </div>
    </div>
}