@model AdDetailsViewModel

@{
    ViewData["Title"] = $"Ad {Model.Ad.Name}";
}

<section id="ad" class="col-xs-12">
    <div class="profile-info col-xs-12">
        <div class="info col-xs-12 center-block">
            <div class="centered center-block">
                <div class="img">
                    <img src="@Model.Ad.AdProfilePicUrl" alt="@Model.Ad.AdProfilePicUrl"/>
                </div>
                <div class="names">
                    <h3>@Model.Ad.Name</h3>
                    <h4>
                        <a href="@Model.Ad.Website" target="_blank">@Model.Ad.Website</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 text-justify">
        <p class="desc text-center">
            @Model.Ad.Description
        </p>
    </div>
    <div class="col-xs-12 text-center">
        @if (this.User.IsInRole(WebConstants.AdvertiserArea) && this.User.Identity.Name == Model.Ad.User)
        {
            <a asp-area="Advertiser" asp-controller="Photos" asp-action="AddPhoto" asp-route-adid="@Model.Ad.Id"
               class="btn btn-success">Add New Photo</a>
            <a asp-area="Advertiser" asp-controller="Ad" asp-action="Edit" asp-route-id="@Model.Ad.Id"
               class="btn btn-warning">Edit</a>   
        }
        @if (this.User.IsInRole(WebConstants.AdministratorRole))
        {
            <a asp-area="Admin" asp-controller="Ads" asp-action="Edit" asp-route-id="@Model.Ad.Id"
               class="btn btn-warning">Edit</a>
            <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#delete">
                Delete
            </button> 
        }
    </div>
    <div class="col-xs-12 text-center tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#ad-photos"><i class="fa fa-picture-o" aria-hidden="true"></i> Photos</a></li>
        </ul>
        <div class="tab-content">
            <div id="ad-photos" class="tab-pane fade in active">
                @if (Model.Ad.Photos.Any())
                {
                    <div class="center-block row col-xs-12">
                        @foreach (var photo in Model.Ad.Photos)
                        {
                            <div class="panel-show col-xs-6 col-sm-4">
                                <div class="panel panel-default">
                                    <a asp-controller="Photos" asp-action="Details" asp-route-id="@photo.Id">
                                        <div class="panel-heading">
                                            <img src="@photo.ImageUrl" class="img-responsive img-listing" alt="@photo.ImageUrl" />
                                        </div>
                                        <div class="panel-body text-center">
                                            <h5 class="wrap"><em>@photo.Likes Likes</em></h5>
                                            <h5 class="wrap"><em>@photo.Comments Comments</em></h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div><h3>Ad has no photos yet.</h3></div>
                }
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="adName" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-xs-8" id="adName">Delete Ad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this ad?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-area="Admin" asp-controller="Ads" asp-action="Delete" asp-route-id="@Model.Ad.Id"
                   data-ajax="true" data-ajax-method="POST"
                   data-ajax-success="ajaxDeleteSuccess"
                   data-ajax-error="ajaxDeleteError"
                   class="btn btn-danger" data-dismiss="modal">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>
    var ajaxDeleteSuccess = function() {
        document.location = "/admin/ads/all";
    }
    var ajaxDeleteError = function() {
        alert('Error: Deletion failed.');
    }
</script>