@model UserProfileServiceModel
@{
    ViewData["Title"] = $"Profile {Model.Username}";
}

@{ var isAuthor = User.Identity.IsAuthenticated && User.Identity.Name == Model.Username; }

<section id="profile" class="col-xs-12">
    <div class="profile-info col-xs-12">
        <div class="info col-xs-12 @(isAuthor ? "col-sm-7" : "") center-block">
            <div class="center-block centered">
                <div class="img">
                    @if (Model.ProfilePicUrl != null)
                    {
                        <img src="@Model.ProfilePicUrl" alt="@Model.ProfilePicUrl"/>
                    }
                    else
                    {
                        <img src="~/images/profile.png" alt="profile image" />
                    }
                </div>
                <div class="names">
                    <h3>@Model.Username</h3>
                    <h4>@Model.Name</h4>
                </div>
            </div>
        </div>
        
        @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Username)
        {
            <div class="edit col-xs-12 col-sm-5">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Manage your account.
                        </div>
                        <div class="panel-body">
                            <div>
                                <a asp-area="" asp-controller="Users" asp-action="ChangeProfilePic" asp-route-username="@Model.Username">Change Profile Photo</a>
                            </div>
                            <div>
                                <a asp-area="" asp-controller="Manage" asp-action="ChangePassword">Change Password</a>
                            </div>
                            <div>
                                <a asp-area="" asp-controller="Manage" asp-action="Index">Change Profile Information</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 text-justify">
        @if (Model.Bio != null)
        {
            <p class="desc text-center">
                @Model.Bio
            </p>
        }
    </div>
    <div class="col-xs-12 text-center">
        @if (this.User.IsInRole(WebConstants.UserRole) && this.User.Identity.Name == Model.Username)
        {
            <a asp-area="User" asp-controller="Users" asp-action="CreateAlbum" class="btn btn-success">Create New Album</a>
        }
    </div>
    <div class="col-xs-12 text-center tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#albums"><i class="fa fa-users" aria-hidden="true"></i> Albums</a></li>
            <li><a data-toggle="tab" href="#saved"><i class="fa fa-folder" aria-hidden="true"></i> Saved</a></li>
        </ul>

        <div class="tab-content">
            <div id="albums" class="tab-pane fade in active">
                @if (Model.Albums.Any())
                {
                    <div class="center-block row col-xs-12">
                        @foreach (var album in Model.Albums)
                        {
                            <div class="panel-show col-xs-6 col-sm-4">
                                <div class="panel panel-default text-center">
                                    <a asp-controller="Albums" asp-action="Details" asp-route-id="@album.Id">
                                        <div class="panel-heading">
                                            <h3>@album.Title</h3>
                                        </div>
                                        <div class="panel-body">
                                            <h5 class="wrap"><em>Category: @album.CategoryName</em></h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div><h3>User has no albums</h3></div>
                }
            </div>
            <div id="saved" class="tab-pane fade">
                @if (this.User.Identity.IsAuthenticated && this.User.Identity.Name == Model.Username)
                {
                    if (Model.SavedPhotos.Any())
                    {
                        <div class="center-block row col-xs-12">
                            @foreach (var photo in Model.SavedPhotos)
                            {
                                <div class="panel-show col-xs-6 col-sm-4">
                                    <div class="panel panel-default">
                                        <a asp-controller="Photos" asp-action="Details" asp-route-id="@photo.Id">
                                            <div class="panel-heading">
                                                <img src="@photo.ImageUrl" class="img-responsive img-listing" alt="@photo.ImageUrl" />
                                            </div>
                                            <div class="panel-body text-center">
                                                <h5 class="wrap"><em>@photo.Likes Likes</em></h5>
                                                <h5 class="wrap"><em>@photo.Comments Comments</em></h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div><h3>User has no saved photos.</h3></div>
                    }
                }
            </div>
        </div>
    </div>
</section>