@model PhotoDetailsViewModel
@{
    ViewData["Title"] = "Photo Details";
}

<h2>Details</h2>

<a href="http://maps.google.com/?q=@Model.Photo.Latitude,@Model.Photo.Longitude" class="text-primary">@Model.Photo.Location</a>

<div>
    @if (this.User.Identity.IsAuthenticated && (this.User.Identity.Name == Model.Photo.AlbumAuthor || this.User.Identity.Name == Model.Photo.AdAuthor))
    {
        <a asp-area="" asp-controller="Photos" asp-action="Edit" asp-route-id="@Model.Photo.Id">Edit</a>
    }
</div>

<img src="@Model.Photo.ImageUrl" width="100" alt="@Model.Photo.ImageUrl"/>

<h4>@Model.Photo.PublishDate.ToShortDateString() by @(Model.Photo.AdId == null ? Model.Photo.AlbumAuthor : Model.Photo.AdAuthor)</h4>

<div id="ajaxLikeLink">
    @if (Model.User != null)
    {
        if (!Model.CanLike)
        {
            <a asp-controller="Photos" asp-action="Like" asp-route-photoId="@Model.Photo.Id"
               data-ajax="true" 
               data-ajax-method="POST"
               data-ajax-update="#likeResults"
               data-ajax-mode="replace"
               data-ajax-success="ajaxLikeSuccess" 
               data-ajax-error="ajaxLikeError"
            >Like</a>
        }
        else
        {
            <a asp-controller="Photos" asp-action="Unlike" asp-route-photoid="@Model.Photo.Id"
               data-ajax="true" 
               data-ajax-method="POST"
               data-ajax-update="#likeResults"
               data-ajax-mode="replace"
               data-ajax-success="ajaxUnlikeSuccess" 
               data-ajax-error="ajaxUnlikeError"
            >Unlike</a>
        }
    }
</div>

<div id="ajaxSaveLink">
    @if (Model.User != null && Model.User.UserName != Model.Photo.AdAuthor && Model.User.UserName != Model.Photo.AlbumAuthor)
    {
        if (!Model.CanSave)
        {
            <a asp-controller="Photos" asp-action="Save" asp-route-photoId="@Model.Photo.Id"
               data-ajax="true"
               data-ajax-method="POST"
               data-ajax-success="ajaxSaveSuccess"
               data-ajax-error="ajaxSaveError">Save</a>
        }
        else
        {
            <a asp-controller="Photos" asp-action="UnSave" asp-route-photoid="@Model.Photo.Id"
               data-ajax="true"
               data-ajax-method="POST"
               data-ajax-success="ajaxUnsaveSuccess"
               data-ajax-error="ajaxUnsaveError">Unsave</a>
        }
    }
</div>

<div id="likeResults">
    @Html.Partial("_Likes", Model.Photo.Likes)
</div>

<h3>@Model.Photo.Description</h3>

@if (Model.Photo.Tags.Any())
{
    foreach (var tag in Model.Photo.Tags)
    {
        <span>#@tag.Content </span>
    }
}

<div id="results">
    @Html.Partial("_Comments", Model.Photo.Comments)
</div>

<div>
    <form asp-area="" asp-controller="Photos" asp-action="Comment" asp-route-photoid="@Model.Photo.Id"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-update="#results"
          data-ajax-mode="replace"
          data-ajax-success="ajaxSuccess" 
          data-ajax-error="ajaxError"
          id="commentForm">
        <textarea class="form-control" name="Content" placeholder="Write a comment..."></textarea>
        <div>
            <input type="submit" class="btn btn-default" value="Post"/>
        </div>
    </form>
</div>

<script>
    var ajaxSuccess = function() {
        $('#commentForm')
            .each(function() {
                this.reset();
            });
    }
    var ajaxError = function() {
        alert('Error: Comment not saved.');
    }

    var ajaxLikeSuccess = function () {
        $('#ajaxLikeLink').empty();

        $('#ajaxLikeLink')
            .html('<a href="/photos/unlike?photoid=@Model.Photo.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-update="#likeResults" ' +
                'data-ajax-mode="replace" ' +
                'data-ajax-success="ajaxUnlikeSuccess" ' +
                'data-ajax-error="ajaxUnlikeError" ' +
                '>Unlike</a>');
    }
    var ajaxLikeError = function () {
        alert('Error: Could not like.');
    }

    var ajaxUnlikeSuccess = function () {
        $('#ajaxLikeLink').empty();

        $('#ajaxLikeLink')
            .html('<a href="/photos/like?photoid=@Model.Photo.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-update="#likeResults" ' +
                'data-ajax-mode="replace" ' +
                'data-ajax-success="ajaxLikeSuccess" ' +
                'data-ajax-error="ajaxLikeError" ' +
                '>Like</a>');
    }
    var ajaxUnlikeError = function () {
        alert('Error: Could not unlike.');
    }

    var ajaxSaveSuccess = function () {
        $('#ajaxSaveLink').empty();

        $('#ajaxSaveLink')
            .html('<a href="/photos/unsave?photoid=@Model.Photo.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-success="ajaxUnsaveSuccess" ' +
                'data-ajax-error="ajaxUnsaveError" ' +
                '>Unsave</a>');
    }
    var ajaxSaveError = function () {
        alert('Error: Could not save.');
    }

    var ajaxUnsaveSuccess = function () {
        $('#ajaxSaveLink').empty();

        $('#ajaxSaveLink')
            .html('<a href="/photos/save?photoid=@Model.Photo.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-success="ajaxSaveSuccess" ' +
                'data-ajax-error="ajaxSaveError" ' +
                '>Save</a>');
    }
    var ajaxUnsaveError = function () {
        alert('Error: Could not unsave.');
    }
</script>
