@model PhotoDetailsViewModel
@{
    ViewData["Title"] = "Photo Details";
    var thePhoto = Model.Photo;
}

<div class="home-photo col-xs-12 col-sm-8">
    
    @*DISPLAY THE PHOTO*@
    <div class="home-photo-image col-xs-12">
        <img src="@thePhoto.ImageUrl" class="img-responsive img-listing" alt="thePhoto.ImageUrl" />
    </div>
    
    <div class="home-photo-content col-xs-12">
        <div class="home-photo-author col-xs-12">
            
            @*DISPLAY PROFILE PHOTO*@
            <div class="profile-img col-xs-2 col-sm-1">
                @if (thePhoto.AdId == null)
                {
                    if (thePhoto.AlbumAuthorUrl != null)
                    {
                        <img src="@thePhoto.AlbumAuthorUrl" alt="@thePhoto.AlbumAuthorUrl"/>
                    }
                    else
                    {
                        <img src="~/images/profile.png" alt="profile image"/>
                    }
                }
                else
                {
                    <img src="@thePhoto.AdUrl" alt="@thePhoto.AdUrl"/>
                }
            </div>
            
            @*DISPLAY PROFILE/AD NAME*@
            <div class="profile-name col-xs-10 col-sm-11">
                <div>
                    @if (thePhoto.AdId == null)
                    {
                        <a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-username="@thePhoto.AlbumAuthor">
                            <h4>@Html.DisplayFor(m => m.Photo.AlbumAuthor)</h4>
                        </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Users" asp-action="Ad" asp-route-id="@thePhoto.AdId">
                            <h4>@Html.DisplayFor(m => m.Photo.AdName)</h4>
                        </a>
                    }
                </div>
                
                @*DISPLAY LOCATION*@
                <div>
                    <a href="http://maps.google.com/?q=@Model.Photo.Latitude,@Model.Photo.Longitude" target="_blank" class="text-primary">
                        <small>@Html.DisplayFor(m => m.Photo.Location)</small>
                    </a>
                </div>
            </div>
        </div>
        
        @*DISPLAY DESCRIPTION*@
        <div class="home-photo-desc">
            <p>@Html.DisplayFor(m => m.Photo.Description)</p>
        </div>
        
        @*DISPLAY TAGS*@
        <div class="home-photo-tags col-xs-12">
            @if (Model.Photo.Tags.Any())
            {
                foreach (var tag in thePhoto.Tags)
                {
                    <span class="tag"><small>#@tag.Content</small></span>
                }
            }
        </div>
        
        @*DISPLAY BUTTONS FOR LIKE AND SAVE*@
        <div class="col-xs-12 home-photo-buttons">
            <div id="ajaxLikeLink" class="likebutton col-xs-1" style="padding-right: 30px;">
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (!Model.CanLike)
                    {
                        <a asp-controller="Photos" asp-action="Like" asp-route-photoId="@thePhoto.Id"
                           data-ajax="true" data-ajax-method="POST"
                           data-ajax-update="#likeResults" data-ajax-mode="replace"
                           data-ajax-success="ajaxLikeSuccess" data-ajax-error="ajaxLikeError">
                            <h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Photos" asp-action="Unlike" asp-route-photoid="@thePhoto.Id"
                           data-ajax="true" data-ajax-method="POST"
                           data-ajax-update="#likeResults" data-ajax-mode="replace"
                           data-ajax-success="ajaxUnlikeSuccess" data-ajax-error="ajaxUnlikeError">
                            <h3><i class="fa fa-heart" aria-hidden="true"></i></h3>
                        </a>
                    }
                }
            </div>
            <div id="ajaxSaveLink" class="savebutton col-xs-1 text-right">
                @if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != thePhoto.AlbumAuthor && this.User.Identity.Name != thePhoto.AdAuthor)
                {
                    if (!Model.CanSave)
                    {
                        <a asp-controller="Photos" asp-action="Save" asp-route-photoId="@thePhoto.Id"
                           data-ajax="true" data-ajax-method="POST"
                           data-ajax-success="ajaxSaveSuccess" data-ajax-error="ajaxSaveError">
                            <h3><i class="fa fa-bookmark-o" aria-hidden="true"></i></h3>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Photos" asp-action="Unsave" asp-route-photoid="@thePhoto.Id"
                           data-ajax="true" data-ajax-method="POST"
                           data-ajax-success="ajaxUnsaveSuccess" data-ajax-error="ajaxUnsaveError">
                            <h3><i class="fa fa-bookmark" aria-hidden="true"></i></h3>
                        </a>
                    }
                }
            </div>
        </div>
        
        @*DISPLAY LIKES COUNT AND PUBLISH DATE*@
        <div class="home-photo-info col-xs-12">
            <div id="likeResults" class="home-photo-likes col-xs-12">
                @Html.Partial("_Likes", thePhoto.Likes)
            </div>
            <div class="home-photo-date col-xs-12">
                <small><em>@Model.Photo.PublishDate.ToString().CalculateDateDifference()</em></small>
            </div>
        </div>
        
        @*DISPLAY CRUD BUTTONS*@
        <div class="col-xs-12 text-right" style="padding: 0;">
            @if (Model.Photo.AlbumId != null)
            {
            <a asp-area="" asp-controller="Albums" asp-action="Details" asp-route-id="@thePhoto.AlbumId"
               class="btn btn-success">
                @thePhoto.AlbumTitle
            </a>
            }
            @if (Model.Photo.AdId != null)
            {
            <a asp-area="" asp-controller="Users" asp-action="Ad" asp-route-id="@thePhoto.AdId"
               class="btn btn-success">
                @thePhoto.AdName
            </a>
            }
            @if (this.User.IsInRole(WebConstants.AdministratorRole) 
                 || (this.User.Identity.IsAuthenticated 
                     && (this.User.Identity.Name == thePhoto.AlbumAuthor 
                         || this.User.Identity.Name == thePhoto.AdAuthor)))
            {
                <a asp-area="" asp-controller="Photos" asp-action="Edit" asp-route-id="@thePhoto.Id"
                   class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            }
            @if (this.User.IsInRole(WebConstants.AdministratorRole))
            {
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            }
        </div>
    
        @*DISPLAY COMMENTS FORM*@
        <div class="type-comment col-xs-12">
             <form asp-area="" asp-controller="Photos" asp-action="Comment" asp-route-photoid="@thePhoto.Id"
                  data-ajax="true" data-ajax-method="POST"
                  data-ajax-update="#results" data-ajax-mode="replace"
                  data-ajax-success="ajaxSuccess" data-ajax-error="ajaxError"
                  id="commentForm">
                <input type="text" id="comment" class="form-control" name="Content" placeholder="Write a comment..." />
            </form>
        </div>
        
        @*DISPLAY COMMENTS*@
        <div id="results">
            @Html.Partial("_Comments", Model.Photo.Comments)
        </div>
    </div>
</div>

@*DISPLAY PHOTOS FROM SAME ALBUM/AD*@
<div class="related-photos col-xs-12 col-sm-4">
    <div class="col-xs-12">
        @if (thePhoto.AdId != null)
        {
            <h3 style="text-decoration: underline;">Ad Photos</h3>
        }
        else
        {
            <h3 style="text-decoration: underline;">Album Photos</h3>
        }
    </div>
    <div>
        @if (Model.RelatedPhotos.Any(p => p.Id != thePhoto.Id))
        {
             foreach (var photo in Model.RelatedPhotos)
             {
                 if (photo.Id != thePhoto.Id)
                 {
                     <a asp-controller="Photos" asp-action="Details" asp-route-id="@photo.Id">
                         <div class="col-sm-12 col-xs-4 center-block related-photo">
                             <img src="@photo.ImageUrl" class="img-responsive img-listing img-rounded" alt="@photo.ImageUrl"/>
                         </div>
                     </a>
                 }
             }
        }
        else
        {
            <div class="col-xs-12">
                <h5>No Related Photos</h5>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="photo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-xs-8" id="photo">Delete Photo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this photo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a asp-area="Admin" asp-controller="Photos" asp-action="Delete" asp-route-id="@thePhoto.Id"
                    data-ajax="true" data-ajax-method="POST"
                    data-ajax-success="ajaxDeleteSuccess"
                    data-ajax-error="ajaxDeleteError"
                    class="btn btn-danger" data-dismiss="modal">Delete</a>
            </div>
        </div>
    </div>
</div>

    <script>
        $("#comment").keypress(function (event) {
            if (event.which === 13) {
                event.preventDefault();
                $("#commentForm").submit();
            }
        });
    </script>

    <script>
        var ajaxDeleteSuccess = function () {
            document.location = "/admin/photos/all";
        }
        var ajaxDeleteError = function () {
            alert('Error: Deletion failed.');
        }
    </script>
    <script>
    var ajaxSuccess = function() {
        $('#commentForm')
            .each(function() {
                this.reset();
            });
    }
    var ajaxError = function() {
        alert('Error: Comment not saved.');
    }

    var ajaxLikeSuccess = function () {
        $('#ajaxLikeLink').empty();

        $('#ajaxLikeLink')
            .html('<a href="/photos/unlike?photoid=@thePhoto.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-update="#likeResults" ' +
                'data-ajax-mode="replace" ' +
                'data-ajax-success="ajaxUnlikeSuccess" ' +
                'data-ajax-error="ajaxUnlikeError" ' +
                '><h3><i class="fa fa-heart" aria-hidden="true"></i></h3></a>');
    }
    var ajaxLikeError = function () {
        var messageDiv = '<div class="alert alert-error text-center">Error: Could not like.</div>';
        $('.body-content').prepend(messageDiv);
    }

    var ajaxUnlikeSuccess = function () {
        $('#ajaxLikeLink').empty();

        $('#ajaxLikeLink')
            .html('<a href="/photos/like?photoid=@thePhoto.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-update="#likeResults" ' +
                'data-ajax-mode="replace" ' +
                'data-ajax-success="ajaxLikeSuccess" ' +
                'data-ajax-error="ajaxLikeError" ' +
                '><h3><i class="fa fa-heart-o" aria-hidden="true"></i></h3></a>');
    }
    var ajaxUnlikeError = function () {
        var messageDiv = '<div class="alert alert-error text-center">Error: Could not unlike.</div>';
        $('.body-content').prepend(messageDiv);
    }

    var ajaxSaveSuccess = function (message) {
        $('#ajaxSaveLink').empty();

        $('#ajaxSaveLink')
            .html('<a href="/photos/unsave?photoid=@thePhoto.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-success="ajaxUnsaveSuccess" ' +
                'data-ajax-error="ajaxUnsaveError" ' +
            '><h3><i class="fa fa-bookmark" aria-hidden="true"></i></h3></a>');

        var messageDiv = '<div class="alert alert-success text-center">' + message + '</div>';
        $('.body-content').prepend(messageDiv);
    }
    var ajaxSaveError = function (message) {
        var messageDiv = '<div class="alert alert-error text-center">' + message + '</div>';
        $('.body-content').prepend(messageDiv);
    }

    var ajaxUnsaveSuccess = function (message) {
        $('#ajaxSaveLink').empty();

        $('#ajaxSaveLink')
            .html('<a href="/photos/save?photoid=@thePhoto.Id" ' +
                'data-ajax="true" ' +
                'data-ajax-method="POST" ' +
                'data-ajax-success="ajaxSaveSuccess" ' +
                'data-ajax-error="ajaxSaveError" ' +
            '><h3><i class="fa fa-bookmark-o" aria-hidden="true"></i></h3></a>');

        var messageDiv = '<div class="alert alert-success text-center">' + message + '</div>';
        $('.body-content').prepend(messageDiv);
    }
    var ajaxUnsaveError = function (message) {
        var messageDiv = '<div class="alert alert-error text-center">' + message + '</div>';
        $('.body-content').prepend(messageDiv);
    }
    </script>
